.code-editer-wrap{border-radius:8px;border:1px solid #d9d9d9;height:340px;padding:3px}.code-editer-wrap .CodeMirror{font-family:monaco, Consolas, Menlo, Courier, monospace;font-size:16px;line-height:1.5em}

